GROQ_API_KEY=your_groq_key_here
GOOGLE_API_KEY_CHALLENGER=your_google_key_for_gemma_here
GOOGLE_API_KEY_SYNTHESIZER=your_google_key_for_gemini_here
GOOGLE_API_KEY=optional_fallback_key
CEREBRAS_API_KEY=your_cerebras_key_here